node_modules/
out/
taintanalysis/
taintanalysis-CHA/
tests/resources/test_resources/
tests/NativeBodyRebuilderTest_mine.ts
tests/resources/ifdsTestConfig_mine.json
.vscode/
tests/resources/HarmonyNativeFlowBench/
tests/resources/ifdsTestConfig.json
IFDS*.json
*.log
pag_*
console
arkanalyzer/